:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#mobile_device_before_connect{
  background: url("iot_bg_1.png");
  height: 600px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mobile_device{
  background: url("mobile.png");
  height: 600px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#device_after_connrcted{
  background: url("https://cdn.dribbble.com/users/1449999/screenshots/5680442/iot.gif");
  height: 570px;
  width: 262px;
  border-radius: 33px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header{
  height: 10vh;
  display: flex; 
  flex-direction: column ; 
  justify-content: center ; 
  align-items: center ;
  font-family: 'Kanit', sans-serif;
  font-size: 40px;
  box-shadow: 2px -2px 14px 3px #ffffffe3
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.float-button {
  position:absolute; 
  bottom: 10px; 
  right: 10px; 
  height: 30px; 
  width: auto; 
  cursor: pointer; 
  background: white; 
  border-radius: 10px;
  font-family: 'Kanit', sans-serif;
  padding: 5px 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
